
	<div class="container">
		<div class="col-sm-12 headline">
			<h1>Twitter Election Coverage 2016</h1>

		</div>
		<div class="the-tweets" ng-repeat="tweet in tweets">
			<div class='col-sm-12 inner-tweets'>
				<div class="col-sm-2">
					<img ng-src="{{tweet.user.profile_image_url_https}}">
				</div>
				<div class="col-sm-10">
					<div class="col-sm-12 screen-name">
						<span>{{tweet.user.name}}</span> @{{tweet.user.screen_name}}
					</div>				
					{{tweet.text}}
					<div class="col-sm-12 retweet">
						<div class="col-sm-2">
							<span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> {{tweet.retweet_count}}
						</div>
						<div class="col-sm-2">
							<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
